<h1>Корзина покупок</h1>

{{#if courses.length}}
<div id="card">
    <table>
        <thead>
            <tr>
                <th>Курс</th>
                <th>Количество</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td><button data-id={{id}} class="btn remove">Убрать</button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <h4>Общая стоимость:</h4>
    <b>
        <p class="price">{{total}}</p>
    </b>
    {{else}}
        <p>Корзина пуста</p>
{{/if}}

</div>